{{ $idea := partial "icon" "idea" }}
{{ $emojis := dict
    "caution" ":exclamation:"
    "important" ":information_source:"
    "note" ":information_source:"
    "tip" ":bulb:"
    "warning" ":warning:"
    "disclaimer" ":warning:"
    "info" ":information_source:"
    "success" ":ballot_box_with_check:"
    "danger" ":zap:"
    "question" ":question:"
    "cite" "⟪…⟫"
    "theory" $idea
}}
{{ if eq .Type "alert" }}
    <blockquote class="alert alert-{{ .AlertType }}">
        <p class="alert-heading ml-2">
            {{ transform.Emojify (index $emojis .AlertType) }}
            {{ with .AlertTitle }}
                {{ . }}
            {{ else }}
                {{ or (i18n .AlertType) (title .AlertType) }}
            {{ end }}
        </p>
        {{ .Text | safeHTML }}
    </blockquote>
{{ else }}
    <figure class="ml-2 ps-5">
        <blockquote {{ with .Attributes.cite }}cite="{{ . }}"{{ end }}>
            {{ .Text | safeHTML }}
            {{ with .Attributes.origin }}
                — <cite>{{ . | safeHTML | markdownify }}</cite>
            {{ end }}
        </blockquote>
        {{ with .Attributes.caption }}
            <figcaption class="blockquote-caption">
                {{ . | safeHTML }}
            </figcaption>
        {{ end }}
    </figure>
{{ end }}
