{{ $emojis := dict
    "caution" ":exclamation:"
    "important" ":information_source:"
    "note" ":information_source:"
    "tip" ":bulb:"
    "warning" ":warning:"
    "disclaimer" ":warning:"
    "info" ":note:"
}}
{{ warnf "%s | %s | %s" .Page.Title .Type .AlertType }}
{{ if eq .Type "alert" }}
    <blockquote class="alert alert-{{ .AlertType }}">
        <p class="alert-heading">
            {{ transform.Emojify (index $emojis .AlertType) }}
            {{ or (i18n .AlertType) (title .AlertType) }}
        </p>
        {{ .Text | safeHTML }}
    </blockquote>
{{ else }}
    <figure>
        <blockquote {{ with .Attributes.cite }}cite="{{ . }}"{{ end }}>
            {{ .Text | safeHTML }}
            {{ with .Attributes.origin }}
                — <cite>{{ . | safeHTML }}</cite>
            {{ end }}
        </blockquote>
        {{ with .Attributes.caption }}
            <figcaption class="blockquote-caption">
                {{ . | safeHTML }}
            </figcaption>
        {{ end }}
    </figure>
{{ end }}
