{{ $ratio := 1 }}
{{ $widthLim := 900 }}
<p class="md__image">
    {{ if hasPrefix .Destination "http" }}
        {{ with resources.GetRemote ( .Destination ) }}
            {{ if gt .Width $widthLim }}
                {{ $ratio = 2 }}
            {{ end }}
            {{ if ne .MediaType.SubType "webp" }}
                {{/* {{ printf "w:%d r:%d h:%d mod:%d\n" .Width $ratio .Height (div .Width $ratio) }}
                */}}
                {{ with .Resize (printf "%dx%d webp q90" (div .Width $ratio) (div .Height $ratio)) }}
                    {{ with .Err }}
                        {{ errorf "%s" . }}
                    {{ else }}
                        <img
                            src="{{ .RelPermalink }}"
                            width="{{ .Width }}"
                            height="{{ .Height }}"
                            alt="" />
                    {{ end }}
                {{ end }}
            {{ end }}

        {{ else }}
            {{ errorf "Unable to get remote resource %q" .Destination }}
        {{ end }}
    {{ else }}
        {{ with .Page.Resources.Get .Destination }}
            {{ if gt .Width $widthLim }}
                {{ $ratio = 2 }}
            {{ end }}
            {{ if ne .MediaType.SubType "webp" }}
                {{/* {{ printf "w:%d r:%d h:%d mod:%d\n" .Width $ratio .Height (mod .Width $ratio) }}

                */}}
                {{ with .Resize (printf "%dx%d webp q90" (div .Width $ratio) (div .Height $ratio)) }}
                    {{ with .Err }}
                        {{ errorf "%s" . }}
                    {{ else }}
                        <img
                            src="{{ .RelPermalink }}"
                            width="{{ .Width }}"
                            height="{{ .Height }}"
                            alt="" />
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
</p>
