{{ $ratio := 1 }}
{{ $widthLim := 1000 }}
{{ $subtypes := slice "png" }}
{{ $image := .Page.Resources.Get .Destination }}
{{ if hasPrefix .Destination "http" }}
    {{ $image = resources.GetRemote ( .Destination ) }}
{{ end }}

{{ with $image }}
    {{ if in $subtypes .MediaType.SubType }}
        <p class="md__image">
            {{ if gt .Width $widthLim }}
                {{ $ratio = 2 }}
            {{ end }}

            {{ with .Resize (printf "%dx%d webp q90" (div .Width $ratio) (div .Height $ratio)) }}
                {{ with .Err }}
                    {{ errorf "%s" . }}
                {{ else }}
                    <img
                        src="{{ .RelPermalink }}"
                        width="{{ .Width }}"
                        height="{{ .Height }}"
                        alt="" />
                {{ end }}
            {{ end }}
        </p>
    {{ end }}
{{ end }}

{{/* {{ printf "%s" .MediaType.SubType }} */}}
