{{ $emojis := dict
    "caution" (partial "icon" "admo/exc")
    "important" (partial "icon" "admo/exc")
    "note" (partial "icon" "admo/info")
    "tip" (partial "icon" "admo/tip")
    "warning" (partial "icon" "admo/warning")
    "disclaimer" (partial "icon" "admo/warning")
    "info" (partial "icon" "admo/info")
    "success" (partial "icon" "admo/success")
    "danger" (partial "icon" "admo/danger")
    "question" (partial "icon" "admo/question")
    "cite" (partial "icon" "admo/quote")
    "theory" (partial "icon" "idea")
    "new" (partial "icon" "admo/new")
    "conf" (partial "icon" "admo/cog")
    "fail" (partial "icon" "admo/fail")
    "abs" (partial "icon" "admo/abstract")
    "legend" (partial "icon" "admo/abstract")
    "like" (partial "icon" "admo/pump")
    "joke" ":grin:"
}}
{{ if eq .Type "alert" }}
    <blockquote class="alert alert-{{ .AlertType }}">
        <p class="alert-heading ml-2">
            {{ transform.Emojify (index $emojis .AlertType) }}
            {{ with .AlertTitle }}
                {{ . }}
            {{ else }}
                {{ or (i18n .AlertType) (title .AlertType) }}
            {{ end }}
        </p>
        {{ with .Text }}
            {{ . | safeHTML }}
        {{ end }}
    </blockquote>
{{ else }}
    <figure class="ml-2 ps-5">
        <blockquote {{ with .Attributes.cite }}cite="{{ . }}"{{ end }}>
            {{ .Text | safeHTML }}
            {{ with .Attributes.origin }}
                — <cite>{{ . | safeHTML | markdownify }}</cite>
            {{ end }}
        </blockquote>
        {{ with .Attributes.caption }}
            <figcaption class="blockquote-caption">
                {{ . | safeHTML }}
            </figcaption>
        {{ end }}
    </figure>
{{ end }}
