{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ warnf "%s " .Page.Params }}
    {{ if .Page.Params.cover }}
        {{ with resources.GetRemote .Page.Params.cover }}
            <img
                src="{{ .Page.Params.cover }}"
                width="{{ .Width }}"
                height="{{ .Height }}"
                alt="portrait" />
        {{ end }}
    {{ end }}
    {{ .Content }}
    {{ range .Data.Terms.Alphabetical }}
        <h2><a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a></h2>
        <p>Shop: {{ .Page.Params.shop }}</p>
    {{ end }}
{{ end }}
