// $alerts

blockquote.alert > *:not(.alert-heading) {
    margin: 0.7em 1em;
    font-size: 11pt;
}
blockquote.alert > p {
    &::before,
    &::after {
        content: none !important;
    }
}
 
.alert {
    --hb-alert-bg: #ffffff0e;
    --hb-alert-padding-x: 2rem;
    --hb-alert-padding-y: 0.5rem;
    --hb-alert-margin-bottom: 1rem;
    --hb-alert-color: inherit;
    --hb-alert-link-color: inherit;
    --hb-alert-border-color: transparent;
    --hb-alert-head-border-width: 3rem;
    --hb-alert-border: var(--hb-border-width) solid var(--hb-alert-border-color);
    --hb-alert-border-radius: var(--hb-border-radius);
    position: relative;
    margin-bottom: var(--hb-alert-margin-bottom);
    color: var(--hb-alert-color);
    background-color: var(--hb-alert-bg);
    border: var(--hb-alert-border);
    border-radius: var(--hb-alert-border-radius);
    padding-inline-start: 0;
    box-shadow: 0 0 0.4em 0 var(--hb-alert-border-color);
    font-weight: initial;
}

.alert-heading {
    color: #fafafa;
    font-style: normal;
    margin: 0;
    padding: var(--hb-alert-padding-y) var(--hb-alert-padding-x);
    background-color: #000000da;
    border-left: var(--hb-alert-head-border-width) ridge var(--hb-alert-border-color);
    border-right: var(--hb-alert-head-border-width) groove var(--hb-alert-border-color);
}

.alert-link {
    font-weight: 700;
    color: var(--hb-alert-link-color);
}

.alert-primary {
    --hb-alert-color: var(--hb-primary-text-emphasis);
    --hb-alert-border-color: var(--hb-primary-border);
    --hb-alert-link-color: var(--hb-primary-text-emphasis);
}

.alert-success {
    --hb-alert-color: var(--hb-success-text-emphasis);
    --hb-alert-border-color: var(--hb-success-border);
    --hb-alert-link-color: var(--hb-success-text-emphasis);
}

.alert-info {
    --hb-alert-color: var(--hb-info-text-emphasis);
    --hb-alert-border-color: var(--hb-info-border);
    --hb-alert-link-color: var(--hb-info-text-emphasis);
}

.alert-warning {
    --hb-alert-color: var(--hb-warning-text-emphasis);
    --hb-alert-border-color: var(--hb-warning-border);
    --hb-alert-link-color: var(--hb-warning-text-emphasis);
}

.alert-question {
    --hb-alert-color: var(--hb-question-text-emphasis);
    --hb-alert-border-color: var(--hb-question-border);
    --hb-alert-link-color: var(--hb-question-text-emphasis);
}

.alert-danger {
    --hb-alert-color: var(--hb-danger-text-emphasis);
    --hb-alert-border-color: var(--hb-danger-border);
    --hb-alert-link-color: var(--hb-danger-text-emphasis);
}

.alert-legend {
    --hb-alert-color: var(--hb-legend-text-emphasis);
    --hb-alert-border-color: var(--hb-legend-border);
    --hb-alert-link-color: var(--hb-legend-text-emphasis);
}
.alert-quote {
    --hb-alert-color: var(--hb-quote-text-emphasis);
    --hb-alert-border-color: var(--hb-quote-border);
    --hb-alert-link-color: var(--hb-quote-text-emphasis);
}
.alert-cite {
    --hb-alert-color: var(--hb-cite-text-emphasis);
    --hb-alert-border-color: var(--hb-cite-border);
    --hb-alert-link-color: var(--hb-cite-text-emphasis);
}
.alert-theory {
    --hb-alert-color: var(--hb-theory-text-emphasis);
    --hb-alert-border-color: var(--hb-theory-border);
    --hb-alert-link-color: var(--hb-theory-text-emphasis);
}
.alert-new {
    --hb-alert-color: var(--hb-new-text-emphasis);
    --hb-alert-border-color: var(--hb-new-border);
    --hb-alert-link-color: var(--hb-new-text-emphasis);
}
.alert-like {
    --hb-alert-color: var(--hb-primary-text-emphasis);
    --hb-alert-border-color: var(--hb-primary-border);
    --hb-alert-link-color: var(--hb-primary-text-emphasis);
}
