$drac-fg: hsl(60, 30%, 96%);
$drac-bg: hsl(231, 15%, 18%);
$drac-highlight: hsl(66, 94%, 73%);
$drac-selection: hsl(231, 25%, 25%);
$drac-blue: hsl(225, 27%, 51%);
$drac-cyan: hsl(191, 97%, 77%);
$drac-green: hsl(135, 94%, 65%);
$drac-orange: hsl(31, 100%, 71%);
$drac-pink: hsl(326, 100%, 74%);
$drac-purple: hsl(265, 89%, 78%);
$drac-red: hsl(0, 100%, 67%);
$drac-yellow: hsl(65, 92%, 76%);

/* Non-standard Dracula colors */
$drac-grey: hsl(225, 8%, 51%);
$drac-teal: hsl(161, 97%, 77%);
$drac-light-blue: hsl(190, 94%, 87%);
$drac-light-green: hsl(135, 92%, 79%);
$drac-dark-pink: hsl(325, 100%, 64%);
$drac-dark-red: hsl(0, 100%, 59%);
$drac-dark-yellow: hsl(51, 94%, 73%);

$drac-default-bg: lighten($drac-bg, 5%);

@function hex2hsl($color) {
    @return round(hue($color)), round(saturation($color)),
    round(lightness($color));
}


:root {

    --md-text-color: var(--md-default-fg-color);
    --input-bd-color: #{$drac-dark-pink};
    --md-default-fg-color: #{transparentize($drac-fg, 0.13)};
    --md-default-fg-color--light: #{transparentize($drac-fg, 0.46)};
    --md-default-fg-color--lighter: #{transparentize($drac-fg, 0.84)};
    --md-default-fg-color--lightest: #{transparentize($drac-fg, 0.93)};
    --md-default-autocomplete-fg-color: #{transparentize($drac-fg, 0.6)};


    --md-shadow-z2: 0 4px 10px hsla(0, 0%, 0%, 0.3), 0 0 1px hsla(0, 0%, 0%, 0.2);
    --md-shadow-z7: 0 0.2rem 0.6rem hsla(0, 6%, 27%, 0.293), 0 0 0 0.1rem #47474716;

    --md-default-bg-color: var(--md-default-bg-color--darkest);
    --md-default-bg-color--light: #{transparentize($drac-default-bg, 0.3)};
    --md-default-bg-color--lighter: #{transparentize($drac-default-bg, 0.7)};
    --md-default-bg-color--lightest: #{transparentize($drac-default-bg, 0.88)};
    --md-default-bg-color--trans: #{transparentize($drac-default-bg, 1)};

    /* Dark specific colors */
    --md-default-bg-color--dark: #{darken($drac-default-bg, 3%)};
    --md-default-bg-color--darker: #{darken($drac-default-bg, 6%)};
    --md-default-bg-color--darkest: #{darken($drac-default-bg, 9%)};
    --md-default-bg-color--ultra-dark: #{darken($drac-default-bg, 15%)};

    $colors: $drac-pink lighten($drac-pink, 5%) darken($drac-pink, 5%);
    --md-primary-code-bg-color: #{mix($drac-bg, nth($colors, 1), 85%)};
    --md-primary-fg-color: hsla(#{hex2hsl(nth($colors, 1))}, 1);
    --md-primary-fg-color--transparent: hsla(#{hex2hsl(nth($colors, 1))}, 1);
    --md-primary-fg-color--light: hsla(#{hex2hsl(nth($colors, 2))}, 1);
    --md-primary-fg-color--dark: hsla(#{hex2hsl(nth($colors, 3))}, 1);
    --md-primary-bg-color: var(--md-default-bg-color);
    --md-primary-bg-color--light: var(--md-default-bg-color--light);

}