.wrapper {
    max-width: -webkit-calc(960px - (30px * 2));
}
.tobacco {
    display: flex;
}

.tobatable {
    border-radius: 20px;
    background: linear-gradient(#00ccff0f, #eeff000c, #eb00000a);
    // background: linear-gradient(#ee09a2, #dfd10d, #69c53e, #0bc4c4, #8100eb);
    transition: background-color 7s;
    overflow: hidden;
}
.tobatable tr:hover {
    background: rgb(77, 9, 133);
    text-decoration: underline solid rgba(0, 255, 255, 0.74) 2px;
    text-underline-offset: 5px;
}

.copy-code-button {
    color: #272822;
    background-color: #FFF;
    border-color: #272822;
    border: 2px solid;
    border-radius: 3px 3px 0px 0px;

    /* right-align */
    display: block;
    margin-left: auto;
    margin-right: 0;

    margin-bottom: -2px;
    padding: 3px 8px;
    font-size: 0.8em;
}

.copy-code-button:hover {
    cursor: pointer;
    background-color: #F2F2F2;
}

.copy-code-button:focus {
    /* Avoid an ugly focus outline on click in Chrome,
       but darken the button for accessibility.
       See https://stackoverflow.com/a/25298082/1481479 */
    background-color: #E6E6E6;
    outline: 0;
}

.copy-code-button:active {
    background-color: #D9D9D9;
}

.highlight pre {
    /* Avoid pushing up the copy buttons. */
    margin: 0;
}
