@import "colors";
@import url("https://fonts.cdnfonts.com/css/twilio-sans-mono");

@mixin title-font {
    font-family: "Jura", sans-serif !important;
    font-weight: 400 !important;
    letter-spacing: 0.5px !important;
    text-rendering: optimizeLegibility;
}

* {
    font-family: "Twilio Sans Mono", sans-serif;
    // background-color: #11011f;
    background-color: #000011;

    h1 {
        @include title-font();
        text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    }

    h2 {
        @include title-font();
        text-shadow: #fc0 1px 0 10px;
    }
}

nav ul {
    list-style: none;
    padding: 3px 5px;
    // background: #111;

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    li {
        display: inline;
    }
}

footer {
    border-radius: 5px;
    position: fixed;
    bottom: 4px;
    right: 10px;
    color: #bad000;
    padding: 2px;
    font-size: 0.9em;

    sub {
        bottom: 0;
    }
}


table {
    display: table;
    overflow: hidden !important;
    border-radius: 7px;
    box-shadow: var(--md-shadow-z7);

    tr:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }

    th {
        color: var(--md-text-color);
        text-transform: uppercase;
        -webkit-text-stroke: thin #7dff00;
        background-color: var(--md-default-bg-color--ultra-dark);
        border-bottom: 1px solid var(--md-primary-fg-color) !important;
    }

    td {
        background-color: var(--md-default-fg-color--lightest);
        border-top: 1px solid var(--md-default-fg-color--lighter);
    }

    tr:nth-child(even) {
        background-color: var(--md-default-bg-color--darker);
    }

    sup {
        color: #bada55 !important;
        font-size: 10px;
    }
}

tbody td[colspan="2"] {
    color: #ff00ff;
    font-weight: 600;
}

em {
    text-decoration: underline 1px #eba100;
}