{{ define "main" }}
    {{ $song := .Params.song }}
    {{ $meta := .Params.songmeta }}
    <div class="wrapper post">
        <main
            class="page-content"
            aria-label="Content">
            <article>
                <header class="header">
                    <h1 class="header-title">{{ .Title }}</h1>
                    {{ with .Date }}
                        {{ $ISO_time := dateFormat "2006-01-02T15:04:05-07:00" . }}
                        <div class="post-meta">
                            <time
                                datetime="{{ $ISO_time }}"
                                itemprop="datePublished">
                                {{ . | time.Format ":date_medium" }}
                            </time>
                            {{ with resources.Get $song }}
                                <u>< Mood ></u>
                                <audio
                                    controls
                                    preload="metadata"
                                    controlslist="nodownload noplaybackrate">
                                    <source
                                        src="{{ .Permalink }}"
                                        type="audio/mp3" />
                                </audio>
                            {{ end }}
                            {{ with $meta }}
                                <p>
                                    Audio:
                                    <code>
                                        {{ printf "%s - %s" .artist .title }}
                                    </code>
                                </p>
                            {{ end }}
                        </div>
                    {{ end }}
                </header>
                {{ partial "toc.html" . }}
                <div class="page-content">
                    {{ .Content }}
                </div>
            </article>
            {{- partial "comments.html" . -}}
        </main>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
        <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>

        <script type="text/javascript">
            const lightbox = GLightbox({     
                touchNavigation: true,
                loop: true,
                openEffect: 'fade',
                closeEffect: 'fade',

            });
        </script>
    </div>
{{ end }}
