:root,
[data-default-appearance="light"] {
    --hb-primary-text-emphasis: #661a36;
    --hb-secondary-text-emphasis: #2b2f32;
    --hb-success-text-emphasis: #0a3622;
    --hb-info-text-emphasis: #055160;
    --hb-warning-text-emphasis: #664d03;
    --hb-danger-text-emphasis: #58151c;
    --hb-light-text-emphasis: #495057;
    --hb-dark-text-emphasis: #495057;
    --hb-quote-text-emphasis: #495057;

    --hb-primary-bg: #ffd9e7;
    --hb-secondary-bg: #e2e3e5;
    --hb-success-bg: #d1e7dd;
    --hb-info-bg: #cff4fc;
    --hb-warning-bg: #fff3cd;
    --hb-danger-bg: #f8d7da;
    --hb-light-bg: #fcfcfd;
    --hb-dark-bg: #ced4da;
    --hb-quote-bg: #ced4da;

    --hb-primary-border: #ffb3cf;
    --hb-secondary-border: #c4c8cb;
    --hb-success-border: #a3cfbb;
    --hb-info-border: #9eeaf9;
    --hb-warning-border: #ffe69c;
    --hb-danger-border: #f1aeb5;
    --hb-light-border: #e9ecef;
    --hb-dark-border: #adb5bd;
    --hb-quote-border: #adb5bd;

    --hb-font-sans-serif: Montserrat, Protest Guerrilla, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --hb-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --hb-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --hb-body-font-family: var(--hb-font-sans-serif);
    --hb-body-font-size: 1rem;
    --hb-body-font-weight: 400;
    --hb-body-line-height: 1.5;

    --hb-border-radius: 0.4rem;
    --hb-border-width: 2px;
    --hb-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --hb-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --hb-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --hb-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

[data-default-appearance="dark"] {
    color-scheme: dark;
    --hb-primary-text-emphasis: #a82356e3;
    --hb-secondary-text-emphasis: #a7acb1;
    --hb-success-text-emphasis: #75b798;
    --hb-info-text-emphasis: #6edff6;
    --hb-warning-text-emphasis: #ffda6a;
    --hb-new-text-emphasis: #cabe54;
    --hb-question-text-emphasis: #d6c590;
    --hb-danger-text-emphasis: #e6b8bc;
    --hb-light-text-emphasis: #f8f9fa;
    --hb-dark-text-emphasis: #dee2e6;
    --hb-quote-text-emphasis: #dee2e6;
    --hb-cite-text-emphasis: #dee2e6;
    --hb-theory-text-emphasis: #ececec;

    --hb-primary-border: #992652;
    --hb-secondary-border: #41464b;
    --hb-success-border: #10693f;
    --hb-info-border: #087990;
    --hb-warning-border: #997404;
    --hb-new-border: #ffee00;
    --hb-question-border: #559b052f;
    --hb-danger-border: #ad1e2a;
    --hb-light-border: #495057;
    --hb-dark-border: #343a40;
    --hb-quote-border: #343a40;
    --hb-cite-border: #4e515e;
    --hb-theory-border: #4f698b;
}

.alert {
    --hb-alert-bg: #ffffff0e;
    --hb-alert-padding-x: 2rem;
    --hb-alert-padding-y: 0.5rem;
    --hb-alert-margin-bottom: 1rem;
    --hb-alert-color: inherit;
    --hb-alert-link-color: inherit;
    --hb-alert-border-color: transparent;

    --hb-alert-border: var(--hb-border-width) solid var(--hb-alert-border-color);
    --hb-alert-border-radius: var(--hb-border-radius);
    position: relative;
    margin-bottom: var(--hb-alert-margin-bottom);
    color: var(--hb-alert-color);
    background-color: var(--hb-alert-bg);
    border: var(--hb-alert-border);
    border-radius: var(--hb-alert-border-radius);
    padding-inline-start: 0;
    box-shadow: 0 0 12px 2px var(--hb-alert-border-color);
    padding-bottom: 10px;
    overflow: hidden;
}

.alert-heading {
    color: #fafafa;
    font-style: normal;
    margin: 0;
    padding: var(--hb-alert-padding-y) var(--hb-alert-padding-x);
    background-color: #000000da;
}

.alert-link {
    font-weight: 700;
    color: var(--hb-alert-link-color);
}

.alert-primary {
    --hb-alert-color: var(--hb-primary-text-emphasis);
    --hb-alert-border-color: var(--hb-primary-border);
    --hb-alert-link-color: var(--hb-primary-text-emphasis);
}

.alert-secondary {
    --hb-alert-color: var(--hb-secondary-text-emphasis);
    --hb-alert-border-color: var(--hb-secondary-border);
    --hb-alert-link-color: var(--hb-secondary-text-emphasis);
}

.alert-success {
    --hb-alert-color: var(--hb-success-text-emphasis);
    --hb-alert-border-color: var(--hb-success-border);
    --hb-alert-link-color: var(--hb-success-text-emphasis);
}

.alert-info {
    --hb-alert-color: var(--hb-info-text-emphasis);
    --hb-alert-border-color: var(--hb-info-border);
    --hb-alert-link-color: var(--hb-info-text-emphasis);
}

.alert-warning {
    --hb-alert-color: var(--hb-warning-text-emphasis);
    --hb-alert-border-color: var(--hb-warning-border);
    --hb-alert-link-color: var(--hb-warning-text-emphasis);
}

.alert-question {
    --hb-alert-color: var(--hb-question-text-emphasis);
    --hb-alert-border-color: var(--hb-question-border);
    --hb-alert-link-color: var(--hb-question-text-emphasis);
}

.alert-danger {
    --hb-alert-color: var(--hb-danger-text-emphasis);
    --hb-alert-border-color: var(--hb-danger-border);
    --hb-alert-link-color: var(--hb-danger-text-emphasis);
}

.alert-light {
    --hb-alert-color: var(--hb-light-text-emphasis);
    --hb-alert-border-color: var(--hb-light-border);
    --hb-alert-link-color: var(--hb-light-text-emphasis);
}

.alert-dark {
    --hb-alert-color: var(--hb-dark-text-emphasis);
    --hb-alert-border-color: var(--hb-dark-border);
    --hb-alert-link-color: var(--hb-dark-text-emphasis);
}
.alert-quote {
    --hb-alert-color: var(--hb-quote-text-emphasis);
    --hb-alert-border-color: var(--hb-quote-border);
    --hb-alert-link-color: var(--hb-quote-text-emphasis);
}
.alert-cite {
    --hb-alert-color: var(--hb-cite-text-emphasis);
    --hb-alert-border-color: var(--hb-cite-border);
    --hb-alert-link-color: var(--hb-cite-text-emphasis);
}
.alert-theory {
    --hb-alert-color: var(--hb-theory-text-emphasis);
    --hb-alert-border-color: var(--hb-theory-border);
    --hb-alert-link-color: var(--hb-theory-text-emphasis);
}
.alert-new {
    --hb-alert-color: var(--hb-new-text-emphasis);
    --hb-alert-border-color: var(--hb-new-border);
    --hb-alert-link-color: var(--hb-new-text-emphasis);
}

html {
    font-size: 12pt;
    font-family: system-ui, sans-serif;
}

blockquote.alert > *:not(.alert-heading) {
    font-size: 11pt;
    margin-left: 2rem;
    margin-right: 1rem;
}
blockquote.alert > p::before,
blockquote.alert > p::after {
    content: none !important;
}
blockquote > cite {
    font-size: 10pt;
    font-style: normal;
    color: #ddbb95;
}
article > section dl > dt {
    text-shadow: 0px 0px 5px var(--tw-prose-headings);
    text-decoration-line: underline;
}

.glightbox,
.glightbox img {
    border-radius: var(--hb-alert-border-radius);
}
.gallery-box {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.gallery-box img {
    border-radius: var(--hb-alert-border-radius);
    box-shadow: 0 0 20px 0 #00deff59;
}

table > thead {
    background-color: hsl(263, 96%, 28%);
}
tbody > tr:nth-child(even) {
    background-color: #58585858;
    border-bottom: 1px solid #088791b2;
}

tr {
    border-radius: var(--hb-alert-border-radius);
    overflow: hidden;
}

summary {
    display: flex;
    color: #30353b;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    background-color: #e792e7;
    background-image: linear-gradient(90deg, #e792e7 0%, #6eb7f1 100%);
    border-radius: var(--hb-alert-border-radius);
}
summary div {
    display: inline-flex;
    margin-left: 10px;
    align-items: center;
    max-width: 90%;
    overflow-x: hidden;
    text-wrap: pretty;
}
summary span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
summary svg {
    width: 24px;
}
summary::after {
    content: "";
    width: 18px;
    height: 10px;
    background: url("https://uploads.sitepoint.com/wp-content/uploads/2023/10/1697699669arrow.svg") no-repeat;
    background-size: cover;
    margin-left: 0.75em;
    transition: 0.2s;
}

details {
    margin-top: 10px;
}
details.admo[open] > summary::after {
    transform: rotate(180deg);
}

summary::-webkit-details-marker {
    display: none;
}

details.admo[open] summary {
    border-radius: var(--hb-alert-border-radius) var(--hb-alert-border-radius) 0 0;
}

details.admo {
    background: #2196f3;
    border-radius: var(--hb-alert-border-radius);
}
details.admo::not(summary) > * {
    margin: 0;
    padding: 0 !important;
}

/* extra styles */

.new {
    animation: vibrate 2000ms infinite;
}
.upd {
    color: coral;
    border-color: coral;
}
.doten {
    margin-top: 0;
    margin-bottom: 0;
    text-decoration-style: dashed;
    text-decoration-color: #00ffff88;
    text-decoration-line: underline;
    font-style: italic;
}

.annotation {
    display: inline-block;
    position: relative;
    font-style: normal;
    font-weight: 400;
    outline: none;
    text-align: initial;
    white-space: normal;
}

.annotation:hover:has(.tooltip2) .tooltip2 {
    visibility: visible;
    opacity: 1;
}

.tooltip2 {
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 0s,
        opacity 0.5s ease;
}
.tooltip2 {
    color: #010101;
    background-color: #ffc400;
    font-size: x-small;
    position: absolute;
    bottom: 30px;
    min-width: max-content;
    padding: 0 4px;
    border-radius: var(--hb-alert-border-radius);
    transition: all 1000ms ease-in-out;
    z-index: 1;
}

.thing-card {
    border: 1px solid yellow;
    border-radius: var(--hb-alert-border-radius);
    padding: 4px 0;
    margin: 4px;
    max-width: 40%;
}
.gslide-desc {
    color: black;
}

@keyframes vibrate {
    0%,
    2%,
    4%,
    6%,
    8%,
    10%,
    12%,
    14%,
    16%,
    18% {
        -webkit-transform: translate3d(-2px, 0, 0);
        transform: translate3d(-2px, 0, 0);
    }
    1%,
    3%,
    5%,
    7%,
    9%,
    11%,
    13%,
    15%,
    17%,
    19% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }

    20%,
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
