{{ with .Page.Params.date }}
    {{ $publDuration := now.Sub (. | time) }}
    {{ $d := div ($publDuration.Hours | int) 24 }}
    {{ $text := "added $dd days ago" }}
    {{ if le ($publDuration.Hours | int) $.Site.Params.newLabelExpiredAfter }}
        <span class="icon new annotation">
            {{ partial "icon" "admo/new" }}
            <span class="tooltip">
                {{ replace $text "$dd" $d }}
            </span>
        </span>
    {{ else if $.Page.Params.lastmod }}
        {{ $since := now.Sub ($.Page.Params.lastmod | time ) }}
        {{ $days := div $since.Hours 24 | int }}
        {{ if le $days 2 }}
            {{ if ne $.Page.Params.type "thing" }}
                <span
                    class="ms-1 rounded-md border px-1 py-[1px] text-xs font-normal upd">
                    Updated recently!
                </span>
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
