{{/* Available notice types: warning, info, note, tip */}}
{{- $admoType := .Get 0 | default "note" -}}
{{- $admoTitle := .Get 1 | default "note" -}}

{{/* Workaround markdownify inconsistency for single/multiple paragraphs */}}
{{- $raw := (markdownify .Inner | chomp) -}}
{{- $block := findRE "(?is)^<(?:address|article|aside|blockquote|canvas|dd|div|dl|dt|fieldset|figcaption|figure|footer|form|h(?:1|2|3|4|5|6)|header|hgroup|hr|li|main|nav|noscript|ol|output|p|pre|section|table|tfoot|ul|video)\\b" $raw 1 -}}


<div
    class="admo {{ $admoType }}"
    {{ if len .Params | eq 2 }}id="{{ .Get 1 }}"{{ end }}>
    <p class="admo-title">
        <span class="icon-admo baseline">
            {{ with resources.Get (printf "icons/admo/%s.svg" $admoType) }}
                {{ .Content |  safeHTML }}
            {{ end }}
        </span>
        {{- i18n $admoType -}}
        {{ $admoTitle }}
    </p>
    {{- if or $block (not $raw) }}
        {{ $raw }}
    {{ else }}
        <p>{{ $raw }}</p>
    {{ end -}}
</div>
