<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>

{{- $src := .Get "src" -}}
{{- $title := .Get "title" | default "image" -}}
{{- $alt := .Get "alt" | default "artless" -}}
{{ $filter := images.Process "fill 140x100 smart webp" }}
{{ $pos := "bottom" }}

{{- with .Parent -}}
    {{ if strings.HasPrefix $src "http" }}
        {{ with resources.GetRemote $src }}
            {{ if gt .Height .Width }}
                {{ $pos = "right" }}
            {{ end }}
            {{ with .Filter $filter }}
                <a
                    href="{{ $src }}"
                    class="glightbox"
                    data-gallery="gallery"
                    data-title="{{ $title }}"
                    data-description="{{ $alt }}"
                    data-desc-position="{{ $pos }}">
                    <img
                        src="{{ .RelPermalink }}"
                        alt="{{ $alt }}"
                        width="{{ .Width }}"
                        height="{{ .Height }}" />
                </a>
            {{ end }}
        {{ end }}
    {{ else }}
        {{ with resources.Get $src }}
            {{ with .Filter $filter }}
                <a
                    href="{{ $src }}"
                    class="glight">
                    <img
                        src="{{ .RelPermalink }}"
                        alt="{{ $alt }}"
                        width="{{ .Width }}"
                        height="{{ .Height }}" />
                </a>
            {{ end }}
        {{ end }}
    {{ end }}

{{- else -}}
    <a
        href="{{ $src }}"
        class="glightbox">
        <img
            src="{{ $src }}"
            alt="{{ $alt }}" />
    </a>
{{- end -}}
